.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100vw;
  height: 100vh;
  filter: brightness(35%);
  /* border-radius: 0.5em;  */
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 2vw;
  font-size: 5vh;
  color: var(--primary-color); 
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 2vw;
  font-size: 5vh;
  color: var(--primary-color);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover {
  color: white;
}

.left-arrow:hover {
  color: white;
}

.slide {
  opacity: 0.9;
  transition-duration: 0.05ms ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 0.5ms;
}

.text-button {
  position: absolute;
  top: 60%;
  left: 30%;
}