.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;

}

.posts-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid gray;
  justify-content: center;
  width: 100%;
}

.posts-text {
  margin: 1vh 0 2vh;
  color: var(--dark-color);
  font-size: 3vh;
  font-family: var(--font-text);
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.posts-img-wrapper {
  display: grid;
  margin-top: .5vh; 
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  gap: 1vh;
  padding: 0 1vw;
  margin-bottom: 5vh;
}
.img-post {
  width: 25vw;
  height: 25vh;
}

.image-post {
  display: flex;
  width:  100%;
  height: 100%;
}

.image-post:hover {
  filter: brightness(55%);
}

@media (min-wdith: 600px) {
  .posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw;

}
}