.form-container-main {
    background-image: var(--background-gradiant), url(/img/cook2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.chakra-stack #container-flex-form{
    display: flex;
    flex-direction: row;
}

.register-main-form{
    background: var(--background-gradiant-element);
    align-items: center;
    border-radius: 4rem;
    padding: 3rem;
}

.one-division-form{
    padding-top: 1rem;
    margin-right: 2rem;
}

.second-division-form{
    margin-left: 2rem;
    padding-right: 2rem;
}

.label-form-register,
.label-form-image-register{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.label-form-image-register{
    margin-left: 7rem;
}

.input-form-register{
    padding-left: 2rem;
    margin: 2rem;
    height: 6vh;
    width: 100%;
    border-radius: 1rem;
    border: none;
    background: var(--light-color);
    color: var(--dark-color);
    font-size: 1.5rem;
    letter-spacing: .125rem;
    outline: none;
}

.input-image-form-register{
    margin-left: 5rem;
    padding: 2rem;
    color: var(--dark-color);
}

.register-button {
    width: 15rem;
    height: 5vh;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3rem;
    font-size: 1.5vh;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.error-message-register,
.error-message-image-register{
    padding-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.error-message-image-register{
    margin-left: 6rem;
}

.register-button:hover {
    background: var(--dark-color);
}


/* RESPONSIVE */

@media screen and (max-width: 540px){
    
    .chakra-stack #container-flex-form{
        display: block;
    }
}